@charset "utf-8";

*{
    color: white;
    background-color: black;
}

.btn {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}


#login {
	display: none;
}

#loggedin {
	display: none;
}

/*Switch button*/
#viewSwitchBtn{
    text-align: center;
}

#switchPlaylistBtn{
    background-color: fuchsia; 
}

#switchTaglistBtn{
    background-color: darkorange; 
}

#switchPushBtn{
    background-color: chartreuse; 
}

@media (orientation : portrait) {
    .switchBtn{
        width: 115px;    
        border: none;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
    }
}

@media (orientation : landscape) {
    .switchBtn{
        width: 165px;    
        border: none;
        color: white;
        padding: 5px 32px;
        margin: 0px 10px 0px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
    }
}


/*Playlist View*/
h3{
    margin: 15px 0px 6px;
    font-weight: bold;
    text-decoration: underline;
}

#PlaylistsSearchbar{
    padding-top: 20px;
    text-align: center;
}

@media (orientation : portrait)  {
    .songSearchbar, .tagTextBox{
        width: 170px;
    }

    #songSearchBtn {
        width: 70px;
    }
}

@media (orientation : landscape)  {
    .songSearchbar, .tagTextBox{
        width: 270px;
    }

    #songSearchBtn {
        width: 120px;
    }
}

.songSearchbar, .tagTextBox{
    padding: 2px 5px 2px 5px;
    margin: 0px 10px 0px 10px;
    border-color: blue;
}

#songSearchBtn{
    background-color: deeppink;     
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 13px;
    font-family: "Arial"; 
}

div#PlaylistsPlayButton{
    padding-top: 10px;
    text-align: center;
}

iframe#PlayButton {
    width : 300;
    height : 300;
}

.SongItem{
    padding: 12px 0px 14px 0px;
}

.playBtn {
    background-color:#4CAF50;
    border: none;
    color: white;
    margin: -1.5px 6px 0px 0px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-family: "Arial"; 
}


.Playlist{
    padding-top: -10px;
    float: left;
}

@media (orientation : portrait)  {
    .name {
    width: 12em;
    float: left;
    }
}

@media (orientation : landscape)  {
    .name {
    width: 30em;
    float: left;
    }
}

@media (orientation : portrait)  {
    .rateBtn{
        margin: -1.5px -2px 0px;    
    }
}

@media (orientation : landscape)  {
    .rateBtn{
        margin: -1.5px -49px 0px;  
    }
}


.rateBtn {
    background-color: deepskyblue; 
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-family: "Arial"; 
}

#rateDecBtn, #rateIncBtn{
    width: 1em;
    max-width: 1em;
    float: left;
}

@media (orientation : portrait)  {
    .rate{
        padding: 0px 3px;
    }
}

@media (orientation : landscape)  {
    .rate{
        padding: 0px 3px;
        margin: 0px 50px 0px -45px;
    }
}

.rate {
    width: 5.2em;
    float: left;
    text-align: center;
    color: yellow;
}

@media (orientation : portrait)  {
    .tagBtn{
        margin: -1.5px 0px 0px 0px;
    }
}

@media (orientation : landscape)  {
    .tagBtn{
        margin: -1.5px 0px 0px -21px;
    }
}

.tagBtn, .tagBtnAdd {
    background-color: #FF5050;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-family: "Arial"; 
}

.tagBtnAdd{
    margin: 0px 0px 0px 10px;
}

.tagItemBtn {
    background-color: violet;
    border: none;
    color: white;
    margin: -1.5px 5px 0px 5px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-family: "Arial"; 
}

#tagShownBtn, #playSongBtn{
    width: 1em;
    max-width: 1em;
    margin: 0px 3px 0px 3px;
    float: left;
}

.tags {
    padding: 30px 0px 0px 13px;
    margin: 0px 0px -12px 0px;
    text-align: left;
}

.tagListName{
    float: left;
}

.tagBtnList{
    text-align: center;
    float: left;
}


/*TagList View*/
.tagCollectionItem{
    padding-top: 5px;
}
.tagCollectionName{
    background-color: cyan;
    padding-left: 7px;
    border: none;
    color: white;
    padding: 3px 10px;
    margin: 5px 10px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-family: "Arial"; 
}

.tagCollectionTip{
    padding-top: 2px;
    float: left;
}

.InputTag{
    padding-top: 10px;
}